/* ====== GERAL ====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-black: hsl(240, 9%, 7%);
    
    --nav-height: 6.5rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* ====== NAVIGATION ====== */
.wrappernav{
    width: min(72rem, 100%);
    margin-inline: auto;
    padding-inline: 1.7rem;
}

#navigation{
    display: flex;
    align-items: center;

    height: var(--nav-height);
    top: 0;
    width: 100vw;

    background-color: var(--primary-black);
}

#navigation img{
    width: 12rem;
}

#navigation .wrappernav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

#navigation .menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    color: #ffffff;
}

#navigation .menu ul li{
    margin-inline: 2rem;
}

#navigation .menu ul li:hover{
    color: rgb(5, 146, 212);
}
