<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags obrigatórias -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="/frontend/assets/styles.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
        
    <title>JogoBão - Vendas</title>
</head>

<body>

    <nav id="navigation">
        <div class="wrappernav">

            <div class="logo">
                <img src="/frontend/img/logo.png" href="./funcionario.html">
            </div>
            
            <div class="menu">
                <ul>
                    <li><a onclick="closeMenu()" href="./produto.html" class="nav-link">Produtos</a></li>
                    <li><a onclick="closeMenu()" href="./cliente.html" class="nav-link">Clientes</a></li>
                    <li><a onclick="closeMenu()" href="./funcionario.html" class="nav-link">Funcionários</a></li>
                    <li><a onclick="closeMenu()" href="./venda.html" class="nav-link">Vendas</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Menu lateral, formulário e tabela -->
    <div class="wrapper">       

        <!-- Formulário e tabela -->
        <main class="container mt-5">
          
            <!-- Campos do formulário -->
            <form id="venda-form" class="row">

                <div class="form-group col-md-4">
                    <label for="datavenda">Data da Venda</label>
                    <input type="text" maxlength="10" id="datavenda" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="clienteid">Cliente</label>
                    <input type="number" id="clienteid" class="form-control">
                </div>

                <div class="form-group col-md-4">
                    <label for="funcionarioid">Funcionário</label>
                    <input type="number" id="funcionarioid" class="form-control">
                </div>

                <div class="mt-3">
                    <input value="Adicionar Venda" type="submit" id="submitBtn" class="btn btn-primary">
                </div>

            </form>

            <!-- Campos da tabela -->
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Data da Venda</th>
                        <th>Cliente id</th>
                        <th>Funcionário id</th>
                    </tr>
                </thead>
                <tbody id="sell-list"></tbody>
            </table>
        </main>
    </div>

    <!-- Modal para edição de formulário -->
    <div class="modal" bis_skin_checked="1">
        <div class="modal-dialog" role="document" bis_skin_checked="1">
            <div class="modal-content" bis_skin_checked="1">

                <!-- Cabeçalho do modal -->
                <div class="modal-header" bis_skin_checked="1">
                    <h5 class="modal-title">Editar Venda</h5>
                    <button onclick="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                <div class="modal-body" bis_skin_checked="1">
                    <form id="modal-form">

                        <!-- Campos do formulário -->
                        <div class="form-group">
                            <label for="datavenda_modal">Data da Venda</label>
                            <input type="text" maxlength="10" id="datavenda_modal" class="form-control" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="clienteid_modal">ClienteId</label>
                            <input type="number" id="clienteid_modal" class="form-control">
                        </div>
        
                        <div class="form-group col-md-4">
                            <label for="funcionarioid_modal">FuncionárioId</label>
                            <input type="number" id="funcionarioid_modal" class="form-control">
                        </div>
                    
                        <div class="d-grid mt-3">
                            <input type="submit" value="Salvar Venda" id="submitModal" class="btn btn-primary">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Javascript principal -->
    <script src="../model/venda.js"></script>

    <!-- Javascript para fechar o Modal -->
    <script>
        function closeModal() {
            document.querySelector('.modal').style.display = 'none'
        }
    </script>
</body>

</html>